{% extends 'base.html' %}
{% load static %}
{% block title %}Любителі собак | Авторизуватись{% endblock title %}
{% block content %}

<form action="{% url 'login' %}" method="post" class="form">
    {% csrf_token %}
      <center>
        <a class="logo" href="{% url 'index' %}">
          <img src="{% static 'app/images/doglovers.png' %}" alt="Logo" style="width: 60px; height: 55px;">
        </a>

        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <div class = "field-error">
              <p>{{error}}</p>
            </div>
          {% endfor%}
        {% endif %}

        <div class="inputs">
          <div>
          <div class="search-bar s-active input">
            {{ form.username }}
            <div class="animated-search">
              <i class="uil uil-envelope-alt"></i>
            </div>
          </div>
          <div class="search-bar s-active input">
            {{ form.password }}
            <div class="animated-search">
              <i class="uil uil-key-skeleton"></i>
            </div>
          </div>
          
          </div>

          <button class="btn btn-primary rounded" type="submit">
            Авторизуватись <span class="material-icons"> arrow_right_alt </span>
          </button>
          <p>Не маєш акаунту? <a href="{% url 'register' %}">Зареєструватись</a></p>
        </div>
      </center>
    </form>
{% endblock content %}