{% extends 'base.html' %}
{% load i18n %}
{% block title %}Любителі собак | {{post.title}}{% endblock title %}
{% load static %}

{% block content %}
      <div class="container">
        <div class="layout">
          <!-- left layout -->
          <div class="left">
            <div class="page-top">
              <div class="top flex">
                <div class="page-name">
  <a href="javascript:history.back()" class="learn">
    <span class="material-icons">keyboard_return</span> Повернутись назад
  </a>
  <h1>Пост</h1>
</div>
              </div>
            </div>

            <center>
              <div class="typo">
                <h1 class="title blog-title">
                  {{post.title}}
                </h1>
                <div class="timeline">
                  <div class="track">
                    <i class="uil uil-clock"></i>
                    <p class="time">
                    {% language 'uk' %}
                    {{ post.last_updated|date:"F d, Y" }}
                    {% endlanguage %}
                    </p>
                  </div>
                  <div class="track">
                    <i class="uil uil-users-alt"></i>
                    <p class="view-count">{{post.view_count}} </p>
                  </div>
                  <div class="track">
                    {% if user.is_authenticated %}
                    <form action="{% url 'bookmark_post' post.slug %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="post_id" value="{{post.id}}">
                      {% if is_bookmarked %}
                      <button type="submit" class="btn btn-info">
                        <i class="fa-solid fa-bookmark"></i>
                        <p class="bookmark">Забрати із закладок</p>
                      </button>
                      {% else %}
                      <button type="submit" class="btn btn-info">
                        <i class="uil uil-bookmark-full"></i>
                        <p class="bookmark">У закладки</p>
                      </button>
                      {% endif %}
                    </form>
                    {% else %}
                    <a class="track" href="{% url 'login' %}">
                      <i class="uil uil-bookmark-full"></i>
                      <p class="bookmark">У закладки</p>
                    </a><br>
                    {% endif %}
                  </div>
                </div>
              </div>
            </center>
            <section class="mt">
              <div class="container">
                <!-- blog post -->
                <div class="blog-post">
                  <div class="post-img blog-img">
                    <img src="{{post.image.url}}" alt="" />
                  </div>
                  <div class="blog-post-content">
                    <p>
                      {{post.content|safe}}
                    </p>
                    <div class="blog-tags">
                    {% for tag in post.tags.all %}
                      <a href="{% url 'tag_page' tag.slug %}" class="tag">{{tag.name}}</a>
                    {% endfor %}
                    </div>
                    <div class="social-share">
                      <div class="reactions">
                        <div class="likes">
                          {% if user.is_authenticated %}
                          <form action="{% url 'like_post' post.slug %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{post.id}}">
                            {% if post_is_liked %}
                            <button type="submit">
                          <i class="fa-solid fa-heart"></i> <span>{{number_of_likes}}</span>
                            </button>
                            {% else %}
                            <button type="submit">
                              <i class="uil uil-heart"></i> <span>{{number_of_likes}}</span>
                                </button>
                                {% endif %}
                        </form>
                        {% else %}
                    <a class="track" href="{% url 'login' %}">
                      <i class="uil uil-heart"></i> <span>{{number_of_likes}}</span>
                    </a><br>
                        {% endif %}
                        </div>
                      
                        <div class="total-comments">
                          <i class="uil uil-comment-alt"></i>
                          <span>{{comments_count}}</span>
                        </div>
                      </div>
                      <div class="share">
                        <div class="social">
                          <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                          </a>
                          <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                          </a>
                          <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                          </a>
                          <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    {% for comment in comments %}
                    <!-- comments -->
                    <div class="user-comment">
                      <div class="author">
                        <div class="profile-pic">
                          <img src="{% static 'images/author.svg' %}" alt="" />
                        </div>
                        <div class="details">
                          <p>{{comment.name}}</p>
                          <small>{% language 'uk' %}
                            {{ comment.date|date:"F d, Y" }}
                            {% endlanguage %}</small>
                        </div>
                      </div>
                      <div class="comment-sec-main">
                        <div class="comment-sec">
                          <div class="comment">
                            <p>
                              {{comment.content}}
                            </p>
                          </div>
                          <div class="reply">
                            <button onclick="toggleDiv(this)">Відповісти</button>
                          </div>
                          <div class="comment-box" id="comment-reply-box">
                            <h3>Відповісти на коментар</h3>
                            <p>
                              Ваша електронна адреса не буде опублікована. Обов'язкові поля
                               позначені
                            </p>
                            <form method="POST">
                              {% csrf_token %}
                              {{form.content}}
                              <div class="grid-3">
                                <input type="hidden" name="post_id" value="{{post.id}}">
                                <input type="hidden" name="parent" value="{{comment.id}}">
                                {{form.name}}
                                {{form.email}}
                                {{form.website}}
                              </div>
              
                              <button class="btn btn-primary rounded">
                                Відповідь
                              </button>
                            </form>
                          </div>  

                        </div>
                        
                        {% for reply in comment.replies.all %}
                        <div class="public-reply">
                          <div class="author">
                            <div class="profile-pic">
                              <img src="{% static 'images/author.svg' %}" alt="" />
                            </div>
                            <div class="details">
                              <p>{{reply.name}}</p>
                              {% language 'uk' %}
                            {{ reply.date|date:"F d, Y" }}
                            {% endlanguage %}
                            </div>
                          </div>
                          <div class="comment">
                            <p>
                              {{reply.content}}
                            </p>
                          </div>
                        </div>
                        {% endfor %}

                        

                      </div>
                    </div>
                    <!-- Comment end -->
                    {% endfor %}
                  </div>
                </div>
                <div class="comment-box">
                  <h3>Залишити новий коментар під цим постом</h3>
                  <p>
                    Ваша електронна адреса не буде опублікована. Обов'язкові поля
                               позначені
                  </p>
                  <form method="POST">
                    {% csrf_token %}
                    {{form.content}}
                    <div class="grid-3">
                      <input type="hidden" name="post_id" value="{{post.id}}">
                      {{form.name}}
                      {{form.email}}
                      {{form.website}}
                    </div>
                    <button class="btn btn-primary rounded">
                      Прокоментувати
                    </button>
                  </form>
                </div>
              </div>
            </section>
          </div>
          <!-- left layout end -->

          <!-- right layout -->
          <div class="right">
            <div class="block">
              <h2 class="title2">Останні статті</h2>
              {% for post in recent_posts %}
              <div class="recent-post">
                <div class="rounded-img">
                  <img src="{{post.image.url}}" alt="" />
                </div>
                <div class="recent-content">
                  <h3>
                    {{post.title}}
                  </h3>
                  <a class="learn" href="{% url 'post_page' post.slug %}"
                    >Дізнатись більше
                    <span class="material-icons"> trending_flat </span></a
                  >
                </div>
              </div>
              {% endfor %}
            </div>

            <div class="block r-blog">
              <h2 class="title2">Пов'язані статті</h2>
              {% for post in related_posts %}
              <!-- card -->
              <a href="{% url 'post_page' post.slug %}">
                <div class="card">
                  <div class="post-img">
                    <img src="{{post.image.url}}" alt="" />
                    <div class="tag">{{post.tags.all.0.name}}</div>
                  </div>
                  <div class="card-content">
                    <h3>
                      {{post.title}}
                    </h3>
                    <div class="author">
                      <div class="profile-pic">
                        <img src="{{post.author.profile.profile_image.url}}" alt="" />
                      </div>
                      <div class="details">
                        <p>{{post.author.first_name}}</p>
                        <small>{% language 'uk' %}
                            {{ post.last_updated|date:"F d, Y" }}
                            {% endlanguage %}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <!-- card end-->
              {% endfor %}    
            </div>
            {% comment %} <div class="block">
              <h2 class="title2">Найпопулярніші автори</h2>
              {% for author in top_authors %}
              <div class="recent-post">
                <div class="rounded-img">
                  <img src="{{author.profile.profile_image.url}}" alt="" />
                </div>
                <div class="recent-content">
                  <h3>
                    {{author.first_name}}
                  </h3>
                  <a class="learn" href="{% if author.profile.slug %}{% url 'author_page' author.profile.slug %}{% endif %}">
    Дізнатись більше
    <span class="material-icons"> trending_flat </span>
</a>

                </div>
              </div>
              {% endfor %}
            </div> {% endcomment %}
            <div class="block">
              <h2 class="title2">Найпопулярніші теги</h2>
              <div class="blog-tags">
              {% for tag in tags %}
                <a class="tag" href="{% url 'tag_page' tag.slug %}">{{tag.name}}</a>
           
                {% endfor %}
              </div>
            </div>
          </div>
          <!-- right layout end -->
        </div>
      </div>

    
      {% endblock content %}